<div class="projects">

  <div class="projects__myporject" >

    <div *ngIf=projectNumber[0]>
        <h1>
            FixBliss
          </h1>
          <h2>mobile phone repair bisness</h2>
          <p>3-month development </p>
      
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit libero, alias atque tempore accusantium nisi! Vel doloribus, nesciunt saepe veniam dolor molestias minus fugit, officia unde sint, quos reiciendis porro?
        
          </p>
      
          
          <a style="text-decoration: none; list-style-type: none" href="https://phonex-1567080018827.firebaseapp.com/" target="blank">fixbliss.com</a>
      
    </div>
    <!--  -->
    <div *ngIf=projectNumber[1]>
        <h1>
            Alimu
          </h1>
          <h2>fashion brand and designer</h2>
          <p>4-month contract </p>
      
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit libero, alias atque tempore accusantium nisi! Vel doloribus, nesciunt saepe veniam dolor molestias minus fugit, officia unde sint, quos reiciendis porro?
        
          </p>
      
          
          <a style="text-decoration: none; list-style-type: none" href="https://www.alimu.com.au/" target="blank">Alimu.com.au</a>
      
    </div>
    <!--  -->
    <div *ngIf=projectNumber[2]>
        <h1>
            Hobby Jockey
          </h1>
          <h2>mobile phone repair bisness</h2>
          <p>3-month development </p>
      
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit libero, alias atque tempore accusantium nisi! Vel doloribus, nesciunt saepe veniam dolor molestias minus fugit, officia unde sint, quos reiciendis porro?
        
          </p>
      
          
          <a style="text-decoration: none; list-style-type: none" href="https://hobbyjockey.com" target="blank">hobbyjockey.com</a>
      
    </div>


    <i (click)="select(2)" class="far fa-circle"></i>
    <i (click)="select(1)" class="far fa-circle"></i>
    <i (click)="select(0 )" class="far fa-circle"></i>

  </div>

</div>