
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>my background info</title>
</head>
<body style="margin: 0">

  
<div class="title">
  
    <h1 >Thomas Azaria</h1>
      <div></div>
    <p style="">
       Vibrant individual with a passion for programming and people. enjoy real life challanges and projects that increase my personal and professional growth.
       I have developed numerous e-commerce applications over the past 3 years.
       I am up to date with the latest technologies and trends used by Industries.
       able to work efiiently individually as well as with a team.
    </p>
        <p>
          <strong>
          competencies
        </strong>
-
        Angular 10
        React.js
        jQuery.js
        node(express).js
    </p>

    <button>Find out More</button>
    <br>
    <!-- <img width="100px" src="https://img.pngio.com/avengers-logo-png-free-download-searchpngcom-logopng-715_715.png" alt=""> -->
</div>
  
</body>
</html>
