<h1>
    Certification
</h1>

<div style="font-size: 16px">

  <div  style="display: flex; justify-content:center; gap: 20px">
    <div >
        <i class="fas fa-star"></i>
    </div>
    <div>
      <a href="https://www.freecodecamp.org/certification/yungblackhumbl3/responsive-web-design" target="blank">  Responsive Web Design</a>
        Developer Certification, representing approximately 300 hours of coursework
    </div>
  </div>
  <br>
  <!--  -->

  <div  style="display: flex; justify-content:center; gap: 20px">
      <div >
          <i class="fas fa-star"></i>
      </div>
      <div>

          <a href="https://www.freecodecamp.org/certification/yungblackhumbl3/javascript-algorithms-and-data-structures" target="blank">JavaScript Algorithms and Data Structures</a>
          Developer Certification, representing approximately 300 hours of coursework
      </div>
  </div>

  <br>
  <!--  -->

  <div  style="display: flex; justify-content:center; gap: 20px">
      <div >
          <i class="fas fa-star"></i>
      </div>
      <div>
        <a href="https://www.freecodecamp.org/certification/yungblackhumbl3/responsive-web-design" target="blank">  Angular - The Complete Guide (2020 Edition)</a>
          Developer Certification, representing approximately 300 hours of coursework
      </div>
    </div>
    <br>
  
</div>